<div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout__content">
    <div class="mdl-layout__content mdl-grid" style="height: 97%;">
      <div class="mdl-cell mdl-cell--6-col mdl-shadow--4dp" style="border-radius: 9px; background-color: whitesmoke">
        <h3 style="font-family: Arial, Helvetica, sans-serif; margin-left: 15px;"><strong>ServiceDesk Poli</strong></h3>
        <br>
        <h4 style="text-align: center; font-family: Arial, Helvetica, sans-serif;"> <strong>Iniciar Sesión</strong> </h4>
        <br>
        <form style="margin: 50px auto;float:none; width: 50%;" autocomplete="off">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="align-content: center;">  
                <input class="mdl-textfield__input" type="email" id="email">
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="align-content: center;">  
                <input class="mdl-textfield__input" type="password" id="password"> 
                <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <br>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Iniciar Sesión
            </button>
        </form>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <iframe src="https://embed.lottiefiles.com/animation/41180" style="height: 100% ;"></iframe>
      </div>
    </div>
  </div>
</div>